@font-face {
    font-family: 'Trade Gothic LT Std';
    src: url('TradeGothicLTStd-Bold.woff2') format('woff2'),
        url('TradeGothicLTStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Trade Gothic LT Std';
    src: url('TradeGothicLTStd-Cn18.woff2') format('woff2'),
        url('TradeGothicLTStd-Cn18.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Trade Gothic LT Std';
    src: url('TradeGothicLTStd.woff2') format('woff2'),
        url('TradeGothicLTStd.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

header {

}

@media (min-width: 992px) {
  header {

  }
}

section {
  padding: 150px 0;
}

section#about {
	background:url(../img/bg.jpg) no-repeat;
	background-size:cover;
}
